<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>Проект</title>
    <link rel="stylesheet" href="/css/styles.css">
    <title>JS learning system</title>
</head>
<body>
<div class="container img-rounded" id="background1">
    <p><img src="/images/BrokenBat.png" alt="Письма мастера дзен"></p>
    <div class="tasks img-rounded introduce">
        <p>Работу подготовил студент группы P3320 Гилязетдинов Дамир</p>
        <div class="tasks-button-next col-md-9 wrapper">
            <a href="/task1"  class="btn btn-default button" >Начать интенсив</a>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="/js/goToPage.js"></script>
</body>
</html>
